<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">

    <h1>{{ home.message }}</h1>
    <div class="well well-sm">
        <h4>Number of schools listed:  <span class="badge">{{ home.schoolCount }}</span></h4>
        <h4>Number of classrooms listed:  <span class="badge">{{ home.classroomCount }}</span></h4>
        <h4>Number of activities listed:  <span class="badge">{{ home.activityCount }}</span></h4>
    </div>
    <div class="btn-group btn-group-xs">
        <button class="btn btn-xs btn-primary" ng-click="home.refresh()">Refresh</button>
    </div>


</div>
